h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4em;
    font-weight: bolder;
}

p {
    font-family: Tahoma, sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
}

p.zadnji {
    font-family: Tahoma, sans-serif;
    font-variant: small-caps;
    font-size: 12em;
    font-weight: 300;
}