body {
    height: 600px;
}

.kvadrat {
    width: 200px;
    height: 200px;

    background: red;
}

.fiksirani {
    width: 100%;
    height: 50px;

    background-color: cornflowerblue;
    position: fixed;
}